@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* TELAS GRANDES */
@media screen {
:root { 
    --cor0:#84A9C0;
    --cor1:#0b1d51;
    --cor2:#06AA48;
    --cor3:#0B1D51ad;
    --cor4:#06AA48ad;
}
*{ 
    margin: 0px;
    padding: 0px;
}
header#cabecalho {
    border-bottom: 1px #000000 solid;
    height: 220px;
    background-color: var(--cor2);
    border-radius: 10px 10px 0px 0px; 
}
header#cabecalho picture {
    position: relative;
    left: -60px;
    top: -40px;
}
nav#menu ul {
    list-style: none;
    text-align: center;
}
nav#menu li {
    width:50%;
    padding: 4px;
    margin: 4px;
    transition: background-color .5s;
    color:#ffffff;
    font-size: 12pt;
    font-family: 'Outfit', sans-serif;
    position: relative;
    top: -290px;
    left: 320px;
    background-color: var(--cor1);
    border-radius: 10px;
    border-style: groove;
    border-color: #ffffffad;	
}
nav#menu li:hover {
    background-color: var(--cor0);
}
nav#menu a:hover {
    color: #000000;
}
nav#menu a {
    color: #ffffff;
    text-decoration: none;
}
body {
    max-width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: rgba(0,0,0,1);
}
nav#menu2 {
    justify-content: center;
    margin-top: 20px;
}
span#burguer {
    display: none;
}
nav#menu2 ul {
    list-style: none;
    text-transform: uppercase;
    text-align: justify;
}
nav#menu2 li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    font-size: 14pt;
    font-family: 'Outfit', sans-serif;
    border-radius: 10px;
    border-style: groove;
    border-color: #7e7c7cad;
}	
nav#menu2 a {
    color: black;
    text-decoration: none;
}
nav#menu2 li.arsenal {
    background-color: red;
}
nav#menu2 li#aston {
    background-color:#5a3306;
}
nav#menu2 li#bourne {
    background-color:red;
}
nav#menu2 li#brentford {
    background-color:red;
}
nav#menu2 li#brighton {
    background-color:rgb(48, 124, 185);
}
nav#menu2 li#chelsea {
    background-color:blue;
}
nav#menu2 li#palace {
    background-color:red;
}
nav#menu2 li#everton {
    background-color:blue;
}
nav#menu2 li#fulham {
    background-color: #8f918f;
}
nav#menu2 li#leeds {
    background-color:#8f918f;
}
nav#menu2 li#leicester {
    background-color:blue;
}
nav#menu2 li#liverpool {
    background-color:red;
}
nav#menu2 li#city {
    background-color:rgb(48, 124, 185);
}
nav#menu2 li#united {
    background-color:red;
}
nav#menu2 li#newcastle {
    background-color:#8f918f;
}
nav#menu2 li#forest {
    background-color:red;
}
nav#menu2 li#south {
    background-color:red;
}
nav#menu2 li#tot {
    background-color:#8f918f;
}
nav#menu2 li#westham {
    background-color:#5a3306;
}
nav#menu2 li#wolves {
    background-color:yellow;
}
nav#menu2 li:hover {
    text-decoration: underline;
}
div.escalacao {
    display: block;
    width: 490px;	
    float: left;
    padding-right: 20px;
}
main {
    min-width: 350px;
    max-width: 1000px;	
}
div.picture {
    margin: 20px 60px;
}
header#noticia h1 {
    width: 95%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #000000;
    margin: 20px 10px 0px 10px;
    text-align: center;
    background-color: var(--cor2);
    border-radius: 10px;
    border-style: groove;
    border-color: var(--cor3);
    padding-top: 5px;
    padding-bottom: 5px;
}
header#noticia h2 {
    width: 95%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    color: #606060;
    text-align: right;
    background-color: #dddddd63;
    margin-top: 2px;
    margin-bottom: 2px;
}
header#noticia h2.titulo {
    width: 95%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14pt;
    color: #ffffff;
    margin: 20px 10px 0px 10px;
    margin-bottom: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    border-style: groove;
    border-color: var(--cor2);
    padding-top: 5px;
    padding-bottom: 5px;
}
header#noticia h2.time {
    width: 95%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50pt;
    color: #000000;
    margin: 10px 10px 0px 10px; 
    border-radius: 10px;
    background-color: white;   
}
header#noticia h3 {
    width: 95%;
    font-size: 10pt;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: right;
}
header#noticia h4 {
    width: 95%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    color: black;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 20px;
}
aside {
    width: 390px;
    float: right;
    padding: 5px;
    margin-top: 10px;
    margin-right: 35px;
    box-shadow: 2px 2px 2px tgba(0,0,0,.5);
}
aside > figure {
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
}
}
/* DESKTOPS */
@media screen and (min-width: 769px) and (max-width:992px) {
    header#cabecalho picture {
        position: relative;
        left: -105px;
        top: -40px;
        max-width: 99.8%;
    }
    nav#menu li {
        position: relative;
        top: -290px;
        left: 230px;	
    }
    body {
        max-width: 990px;
    }
    main {
        width: 90vw;	
        border-right: none;
        float:none;
        padding-left: 20px;
    }
    div.escalacao {
        display: block;
        width: 99%;	
        float: left;
        padding-right: 20px;
    }
    aside {
        width: 99%;
        float: none;
        padding: 5px;
        margin-top: 15px;
        margin-right: 0px;
        box-shadow: 2px 2px 2px tgba(0,0,0,.5);
    }
    aside > figure > img {
        width: 99%;
    }
}
/* TABLETS */
@media screen and (min-width: 600px) and (max-width:768px) {
    header#cabecalho picture {
        position: relative;
        left: -110px;
        top: -40px;
        max-width: 99.8%;
    }
    nav#menu li {
        position: relative;
        top: -290px;
        left: 200px;	
    }
    nav#menu2 ul {
        display: none;
    }
    nav#menu2 li {
        display: block;
        padding: 10px;
        margin: 2px;
        text-align: center;
    }
    span#burguer {
        display: block;
        background-color: var(--cor1);
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    span#burguer:hover {
        background-color: var(--cor3);
        color: black;
    }
    main {	
        border-right: none;
        float:none;
        padding-left: 5px;
        margin: auto;
    }
    div.escalacao {
        width: 99%;	
        padding-right: 0px;
        text-align: center;
    }
    aside {
        width: 99%;
        float: none;
        padding: 0px;
        margin-top: 15px;
        margin-right: auto;
        box-shadow: 2px 2px 2px tgba(0,0,0,.5);
    }
    aside > figure > img {
        width: 99%;
    }
}
/* CELULAR */
@media screen and (max-width:599px) {
    header#cabecalho picture {
        display: none;
    }
    nav#menu li {
        position: relative;
        top: 10px;
        left: 100px;	
    }
    nav#menu2 ul {
        display: none;
    }
    nav#menu2 li {
        display: block;
        padding: 10px;
        margin: 2px;
        text-align: center;
    }
    span#burguer {
        display: block;
        background-color: var(--cor1);
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    span#burguer:hover {
        background-color: var(--cor3);
        color: black;
    }
    main {	
        border-right: none;
        float:none;
    }
    div.escalacao {
        width: 99%;	
        padding-right: 0px;
    }
    aside {
        width: 99%;
        float: none;
        padding: 0px;
        margin-top: 15px;
        box-shadow: 2px 2px 2px tgba(0,0,0,.5);
    }
    aside > figure > img {
        width: 99%;
    }
    header#noticia h2.time {
        width: 95%;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 0pt;
        color: #000000;
        margin: 10px 10px 0px 10px; 
        border-radius: 10px;
        background-color: white;   
    }
    iframe {
        text-align: center;
    }
    header#noticia h4 {
        width: 99%;
        padding-left: 5px;
    }
}
