@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root { 
    --cor0:#84A9C0;
    --cor1:#0b1d51;
    --cor2:#06AA48;
    --cor3:#0B1D51ad;
    --cor4:#06AA48ad;
}
*{ 
    margin: 0px;
    padding: 0px;
}
footer#rodape {
    clear: both;
    padding: 10px;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    background-color:var(--cor2);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
}
footer#rodape a {
    text-align: justify;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    margin-right: 10px;
    border-radius: 50%;
}
footer#rodape button:hover {
    border: 1px solid rgba(0, 0, 0, 0.301);
    box-shadow: 5px 5px 10px black;
    background-color: var(--cor1);
    transform: translate(-3px, -3px);
    transition: transform 0.3s;
}
.botao1 {
    width: 40px;
    height: 40px;
    background: url("../_fotos/_logos/logoyoutube.png") no-repeat;
    background-position: center;
    background-color: white;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid transparent;		
}
.botao2 {
    width: 40px;
    height: 40px;
    background: url("../_fotos/_logos/logoinsta.png") no-repeat;
    background-position: center;
    background-color: white;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid transparent;
}
.botao3 {
    width: 40px;
    height: 40px;
    background: url("../_fotos/_logos/logott.png") no-repeat;
    background-position: center;
    background-color: white;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid transparent;
}
.botao4 {
    width: 40px;
    height: 40px;
    background: url("../_fotos/_logos/logotiktok.png") no-repeat;
    background-position: center;
    background-color: white;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid transparent;
}
footer#rodape p {
    font-weight: normal;
    text-align:center;
    margin: 3px;
}